.container {
    display: flex;
    flex-direction: row;

    place-items: center;
    place-content: center space-between;

    padding-inline: var(--gl-layout-spacing);

    .clock {
        display: inline;

        font-weight: 100;
        font-family: "Chango";
        font-size: 1.5em;

        color: var(--gl-color-darkblue);

        text-shadow: 0 0 2px var(--gl-color-white);

        width: 6.5ch;
    }
}
