.container {
    display: flex;
    flex-direction: row;

    place-items: center;
    place-content: center space-between;

    padding-inline: var(--layout-spacing);
    
    .clock {
        display: inline-block;
        
        font-weight: 900;
        font-family: "LuckiestGuy";
        font-size: 1.75em;

        color: var(--gl-color-darkblue);
        text-shadow: 0 0 2px var(--gl-color-blue);

        width: 6ch;
    }
}
